<div>
    <a href="http://localhost:{{PORT}}/">Volver a Puerto {{PORT}}</a>
    {{#if cond}}
    <h1>Aqui tenemos la lista de comidas</h1>
    <ul>
        {{#each food}}
        <li>
            <p>{{this.name}}:{{this.price}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <h2>Aun no tenemos el menu preparado</h2>
    {{/if}}
</div>